'name': 'RSpec'
'fileTypes': [
  'spec.rb'
]
'scopeName': 'source.ruby.rspec'
'patterns': [
  {
    'include': '#behaviour'
  }
  {
    'match': '(?<!\\.)\\b(it|specify|example|scenario|pending|skip|xit|xspecify|xexample)\\b'
    'name': 'keyword.other.exxample.rspec'
  }
  {
    'match': '(?<!\\.)\\b(before|after|around)\\b(?![?!])'
    'name': 'keyword.other.hook.rspec'
  }
  {
    'include': 'source.ruby'
  }
]
'repository':
  'behaviour':
    'begin': '^\\s*(describe|context|feature)\\b'
    'beginCaptures':
      '1':
        'name': 'keyword.other.rspec.behaviour'
    'end': '\\b(do)\\s*$'
    'endCaptures':
      '1':
        'name': 'keyword.control.ruby.start-block'
    'name': 'meta.rspec.behaviour'
    'patterns': [
      {
        'begin': '\\s([\'\"])'
        'end': '\\1'
        'name': 'string'
      }
      {
        'begin': '(,)'
        'beginCaptures':
          '1':
            'name': 'punctuation.separator.object.ruby'
        'end': '\\s(?=do)'
        'patterns': [
          {
            'include': 'source.ruby'
          }
        ]
      }
    ]
